last 2 versions
> 0.2%
and_chr 92
and_ff 90
and_qq 10.4
and_uc 12.12
android 92
android 4.4.3-4.4.4
baidu 7.12
bb 10
bb 7
chrome 92
chrome 91
chrome 90
chrome 89
chrome 87
chrome 85
edge 92
edge 91
firefox 91
firefox 90
firefox 89
ie 11
ie 10
ie_mob 11
ie_mob 10
ios_saf 14.5-14.7
ios_saf 14.0-14.4
ios_saf 13.4-13.7
kaios 2.5
op_mini all
op_mob 64
op_mob 12.1
opera 78
opera 77
safari 14.1
safari 14
safari 13.1
samsung 14.0
samsung 13.0
samsung 4